* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@keyframes pan {
  100% {background-position: 15% 15%;}
}
body{
  background-image: url("/imagens/low-poly-grid-haikei-2.svg");
  background-repeat: repeat;
  background-size: cover;
  animation: pan 3s infinite alternate linear;
}

.conteudo {
  height: 100vh;
  width: 100vw;
  position: relative;
}

img{
  width: 30px;
  height: 30px;
}
.primeira-coluna-index {
  width: 50vw;
  height: 100vh;
  position: absolute;
  left: 0;
  background-image: url(../imagens/recados.jpg);
  background-size:cover;
  border-radius: 0% 2% 2% 0%;
}

.segunda-coluna-index {
  width: 50vw;
  height: 100vh;
  position: absolute;
  right: 0;
}

.primeira-coluna {
  width: 50vw;
  height: 100vh;
  position: absolute;
  right: 0;
  background-image: url(../imagens/recados.jpg);
  background-size:cover;
  border: 1px solid #eee;
  border-radius: 2% 0% 0% 2%;
}

.segunda-coluna {
  width: 50vw;
  height: 100vh;
  position: absolute;
  left: 0;
  
}

.segunda-coluna-sair {
  width: 50vw;
  height: 80vh;
  display: flex;
  justify-content: flex-end;
  position: absolute;
    top: 10vh;
    right: 55vw;
  align-items: center;
  
}

div.row {
  height: 90vh;
  display: flex;
  justify-content: flex-end;
  position: relative;
  flex-direction: column;
  align-items: center;
  bottom: 10px;
}

label{
  padding: 2px;
  margin-bottom: 5px;
    color: crimson;
}

.row-card {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

  div#row-card {
  height: 90vh;
  display: flex;
  justify-content: flex-end;
  position: relative;
  flex-direction: column;
  align-items: center;
   padding: 30px; 
}  


#row-card {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 90vw;
}

.card {
  border-radius: 20px;
  box-shadow: 7px 7px 13px 0px rgb(50 50 50 / 22%);
  padding: 30px;
  text-align: left;
  margin: 20px;
  transition: all 0.3s ease-out;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  background-color: moccasin;
}

.registro{
  margin: 0;
  display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 12px
}

.titulo-card{
  margin: 0;
  display: flex;
    justify-content: flex-end;
    flex-direction: column;
    font-size: 20px;
    margin-bottom: 12px
}

#txt{
  text-align: center;
  color: #ca4e1d;
  font-size: larger;
  text-shadow: 15px 5px 10px rgb(208, 97, 49);
}

div.row.container-cadastro {
  height: 90vh;
  display: flex;
  justify-content: flex-end;
  position: relative;
  flex-direction: column;
  align-items: center;
  bottom: 10px;
}

div.row.container-sair {
  
  height: 30vh;
  display: flex;
  justify-content: flex-end;
  position: relative;
  flex-direction: column;
  align-items: center;
  bottom: 10px;
    left: 33px;;
}
.boot{
    height: 250px;
    width: 250px;
    background-size: cover;
}

.titulo {
  font-size: 30px;
  margin-bottom: 15px;
}

.descricao {
  display: flex;
    justify-content: flex-end;
    flex-direction: column;
    font-size: 20px;
    margin-bottom: 12px;
}

.formulario {
  margin: 20px;
}

input.cadastro, input {
  display: block;
  margin-bottom: 15px;
  width: 35vw;
  height: 7vh;
  box-shadow: 15px 5px 20px rgba(218, 98, 24, 0.4);
  border: 2px solid #eee;
  border-radius: 0% 2% 2% 0%;
}

input:hover {
  border: 1px solid grey;
}

input.btn-cadastro, button.btn {
  display: block;
  margin-top: 20px;
  width: 35vw;
  height: 40px;
  background: #04911c;
  color: #fff;
  border: 1px solid #eee;
  box-shadow: 5px 5px 5px #eee;
  text-shadow: none;
  opacity: 0.8;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  opacity: 1;
}

table {
  border-collapse: collapse;
  width: 90%;
  margin-top: 30px;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #DDD;
}

tr.informacoes:hover {background-color: #D6EEEE;}


h1{
  margin-top: 50px;
  margin-bottom: 10px;
}

section#principal{
 margin-left: 50px;
 margin-right: 20px;
}

button.inf_botao{
  width: 90px;
  height: 30px;
  cursor: pointer;
}

button#inf_botao_editar{
  background-color: moccasin;
  border: none;
  border-radius: 20px;
  color:white;
}

button#inf_botao_apagar{
  background-color: moccasin;
  border: none;
  border-radius: 20px;
  color:white;
  cursor: pointer;
}

input#enviar_info{
  width: 100px;
  height: 35px;
  background-color: green;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color:white;
  cursor: pointer;
}

input#botao_atualizar{
  width: 100px;
  height: 35px;
  background-color: green;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color:white;
  cursor: pointer;
  display: none;
}

input#botao_cancelar{
  width: 100px;
  height: 35px;
  background-color: red;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color:white;
  cursor: pointer;
  display: none;
}

#sair {
  position: absolute;
  right: 4.5vw;
  top: 2vh;
}

#botaoSair {
  width: 5vw;
  height: 3.5vh;
  border: 0;
  border-radius: 20px;
  background-color: #18d3c3;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #260101;
  font-size: 16px;
  position: relative;
  cursor: pointer;
}

#botaoSair::after {
  content: " ";
  width: 60%;
  height: 2px;
  background-color: #a63232;
  position: absolute;
  left: 1vw;
  bottom: 0;
  transform: scaleX(0);
  transform-origin:unset;
  transition: transform .25s ease;
}

#botaoSair:hover::after {
  transform: scaleX(1);
}